<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="src/css/style.css"
	</head>
	<body>
		<div id="container">
		</div>
		<script src="/src/xfz.js"></script>
	</body>
</html>