<!DOCTYPE html>
<html ng-app="mainApp">
	<head>
		<meta charset="utf-8">
		<link type="text/css" href="/public/css/style.css" rel="stylesheet">
		<script src="/public/jquery/jquery-2.2.0.min.js"></script>
		<script src="/public/angularjs/angular.min.js"></script>
		<script src="/public/angularjs/angular-route.min.js"></script>
		<script src="/public/angularjs/main.js"></script>
        <base href="/index.ejs">
	</head>
	<body>
		<div class="container">
			<div id="content" ng-view>
			</div>
		</div>
	</body>
</html>