<!DOCTYPE html>
<html>
	<head>
		<title>xfz</title>
		<link type="text/css" href="/public/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div id="titleBar"></div>
		We are using Electron <script>document.write(process.versions['electron'])</script>.
		<a href="/authorize">Login</a>
	</body>
</html>