<!DOCTYPE html>
<html>
	<head>
		<title>xfz</title>
		<link type="text/css" href="/public/css/style.css" rel="stylesheet">
	</head>
	<body>
		<input type="text" id="inputArea">
		<a href="/timeline/post">发布</a>
	</body>
</html>