body {
	margin: 5px;
	background-color: #EEEEEE;
	font-family: "PingFang SC",
				 "Helvetica Neue",
				 "Hiragino Sans GB",
				 "Microsoft YaHei",
				 "微软雅黑",
				 Helvetica,
				 Arial,
				 Verdana,
				 sans-serif;
}
#t-title-bar {
	background: grey;
	margin-top: -10px;
	margin-left: -5px;
	margin-right: -5px;
	height: 20px;
	width: 100%;
	-webkit-app-region: drag;
}

.t-alert {
	display: none;
	width: 100%;
	height: 20px;
}

.t-timeline-container {
	padding: 0;
	height: 550px;
	overflow-y : scroll;
}

.t-input-textarea {
	width: 100%;
	height: 60px;
	resize: none;
	padding: 0;
}

.t-input {
	width: 100%;
	height: 95%;
}

.t-input-container {
	display: grid;
	grid-template-columns: 42px auto;
	grid-gap: 5px;
	min-height: 65px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.t-post-btn {
	padding-right : 5px;
	margin-top: -5px;
}

.t-avatar {
	width: 42px;
	height: 42px;
}

.t-avatar-block {
	height: 42px;
}

.t-avatar-container {
	width: 100%;
}

.t-feature-block {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 2px;
}

.t-logout-button {
	width: 100%;
}

.t-message-container {
	display: grid;
	grid-template-columns: 10% 78% 5%;
	grid-gap: 5px;
	width: 100%;
	min-height: 65px;
	margin-bottom: 5px;
	padding: 3px;
	background-color: #FFFFFF;
}
.t-message-container:hover{
	background-color: #bbdefb;
}

.t-middle-bottom-cell {
	width: 100%;
}

.t-content {
	width: 100%;
	margin: 0;
}

.t-content-with-photo {
	word-wrap: break-word;
}

.t-content-photo-container {
	float: right;
	cursor: pointer;
}

.t-content-photo-container img {
	border: 1px solid #ccc;
	padding: 2px;
	background: #fff;
}

.t-content-photo-container img:hover {
	border: 1px solid #24BDFF;
	padding: 2px;
}

.t-middle-cell {
	display: grid;
	grid-template-rows: 15px auto 10%;
	grid-gap: 2px;
}


.t-right-cell {
	padding-right: 15px;
}

.t-right-child-cell {
	width: 100%;
}

.t-username {
	width: 100%;
	font-weight: bold;
}


.t-timeline-stream {
	padding: 0;
	font-size: 12px;
	margin: 0;
}

.t-right-button {
	font-size: 10px !important;
}

.t-sm-font {
	font-size: 12px;
}

.t-hidden {
	display: none;
}

.t-ml-5 {
	margin-left: 5px;
}

.t-hover:hover {
	background: #bbdefb;
}

.t-pointer {
	cursor: pointer;
}